/* --- Strefa twórcy --- */
.content-cut {
    max-width: 1000px;
}
.content-cut h1 {
    text-align: start;
}
.compare {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em 10em;
    margin: 0.5em 0;
}
@media screen and (max-width: 640px) {
    .compare {
        flex-direction: column;
    }
}
.compare-mm {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5em;
}
@media screen and (max-width: 920px) {
    .compare-mm {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1em;
    }
}
video {
    max-width: 400px;
}
@media screen and (max-width: 440px) {
    video {
        max-width: 85%;
    }
    pre, code {
        max-width: 90vw;
    }
    input {
        max-width: 80%;
    }
}
pre {
    max-width: 450vw;
    margin-top: 0;
}
@media screen and (max-width: 574px) {
    pre {
        max-width: 445px;
    }
}
@media screen and (max-width: 650px) {
    pre#code-example {
        max-width: 445px;
    }
}
@media screen and (max-width: 795px) {
    pre#code-example2 {
        max-width: 445px;
    }
}
code {
    font-size: 0.9rem;
    display: block;
    overflow: auto;
    border: 1px solid #ccc;
}
p a {
    text-decoration: underline;
}
p > input {
    font-size: 1rem;
    padding: 0.7em 1.2em;
}
.img-resp {
    display: block;
    max-width: 70%;
    margin: 0 auto;
}
.img-resp-vert {
    display: block;
    max-width: 40%;
}
.img-smaller {
    display: block;
    max-width: 300px;
}
@media screen and (max-width: 887px) {
    .img-resp {
        max-width: 90%;
    }
    .img-resp-vert {
        max-width: 60%;
    }
}
@media screen and (max-width: 440px) {
    .img-smaller {
        max-width: 80%;
    }
}
b.extra {
    font-size: 1.3rem;
}
#table-of-content {
    border-radius: 12px;
    background-color: #62adec;
    padding: 0.5em 2em 1.5em;
    box-shadow: 2px 2px 10px #b0b0b0;
}
#table-of-content li {
    padding-bottom: 0.5em;
}
.list-arrow {
    margin-right: 0.5em;
}
.spacing {
    margin-bottom: 2.5em;
}
.input-grp label {
    font-family: "Varta", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}
.input-grp input {
    margin-left: 0.5em;
}
.btn-example {
    font-size: 0.9rem;
    background-color: #53d356;
    border-radius: 50px;
    padding: 1em;
    margin: 0.5em 0;
    cursor: pointer;
}
#txt-example, #zoom-txt-btn, #reset-btn, #line-height, #letter-space, #word-space, #reset-space {
    padding: 1em;
    font-size: 1rem;
    cursor: pointer;
}
.btn-example2, #btn-example2-1, #btn-example2-2 {
    font-size: 1rem;
    padding: 1em;
    cursor: pointer;
}
#btn-example2-1 {
    background-color: #612776;
    color: white;
}
#btn-example2-2 {
    background-color: transparent;
    color: #612776;
    border: 3px solid #612776;
}
#btn-example2-1:hover {
    background-color: black;
}
#elements-contrast-examples p {
    margin-bottom: 1.5em;
}
.inside {
    position: relative;
}
.center-img, .center-vid {
    display: block;
    margin: 0 auto;
}
.txt-inside {
    position: absolute;
    top: 30%;
    left: 40%;
    font-size: 2.7em;
    font-family: Arial, serif;
}
#hover-esc {
    position: relative;
    display: inline-block;
    background-color: lightgray;
    color: black;
    width: 8em;
    padding: 1em;
    margin-bottom: 1em;
}
#hover-esc #tooltip {
    position: absolute;
    visibility: hidden;
    width: 6em;
    padding: 1em;
    text-align: center;
    z-index: 1;
    bottom: 10%;
    left: 100%;
    opacity: 0;
    background-color: white;
    border: 2px solid black;
}
#hover-esc:hover #tooltip {
    visibility: visible;
    opacity: 1;
    color: black;
}
@media screen and (max-width: 480px) {
    #hover-esc #tooltip {
        display: none;
    }
    .txt-inside {
        font-size: 2em;
    }
}
#rect-anim {
    position: relative;
    width: 10em;
    height: 6em;
    background-color: #b93b3b;
    border: 2px solid black;
    animation: move 5s infinite;
}
@keyframes move {
    0% {
        left: 0;
    }
    50% {
        left: calc(50% - 100px);
    }
    100% {
        left: 0;
    }
}
#inter-anim {
    position: relative;
    width: 6em;
    height: 6em;
    background-color: #30afa0;
    border: 2px solid black;
    animation: none;
    /*animation: inter 5s;*/
    cursor: pointer;
}
@keyframes inter {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltip-content {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    /*padding: 5px 0;*/
    position: absolute;
    left: -50%;
    top: 100%;
    z-index: 1;
}
.tooltip:hover .tooltip-content {
    visibility: visible;
}
#wymowa audio {
    max-width: 90%;
}

@media screen and (max-width: 340px) {
    #smaller-h1-3_2 {
        font-size: 2.3em;
    }
    #smaller-h1-3_2 + h2 {
        font-size: 2em;
    }
    #smaller-h1-4_1 {
        font-size: 2.5em;
    }
}
/*ol > li::marker {*/
/*    font-weight: bold;*/
/*}*/


/* --- Checklista WCAG 2.1 --- */
legend {
    font-size: 2em;
    font-weight: bold;
    font-family: "Varta", sans-serif;
}
fieldset {
    max-width: 1000px;
    margin-bottom: 1em;
}
fieldset label a {
    font-size: 1.3em;
}

/* --- Przykłady --- */
.ex-header {
    text-align: left;
    margin-left: 0.5em;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-item {
    background-color: aqua;
    padding: 4em;
    margin: 2em;
    font-size: 1em;
}
.container {
    display: flex;
    max-width: 1000px;
}
.item {
    background-color: aqua;
    padding: 2em 8em;
    margin: 2em;
    font-size: 1em;
    width: 4em;
    height: 6em;
}

h2.comment-header-spacing {
    margin-bottom: 0.5em;
}
.comment-field-spacing {
    margin-top: 2em;
}