/* --- header --- */
#skip-link {
    position: absolute;
    padding: 4px;
    transform: translateY(-100%);
}
#skip-link:focus {
    transform: translateY(0%);
}
ul, a,
.button-style,
input[type=submit] {
    font-size: 1.2rem;
    text-decoration: none;
}
#user-actions {
    display: flex;
    justify-content: space-around;
    background-color: #1e7dcc;
    padding: 1em 13em;
}
#user-actions ul #admin_panel_desktop, #admin_panel_mobile, #user-actions ul #acc, #user-actions ul #register, #user-actions ul #hamb {
    background-color: transparent;
}
#user-actions li, nav li {
    display: inline-block;
}
#login, #logout {
    box-shadow: 2px 2px 10px #296fa8;
}
#login,
#logout,
#hamb,
.button-style,
input[type=submit] {
    text-align: center;
    list-style-type: none;
    background-color: #4a9ce0;
    border-radius: 90px;
    padding: 0.8em 3em;
}
#user-actions ul #hamb {
    display: none;
    cursor: pointer;
}
button#close-hamb {
    display: none;
}
#mobile ul #admin_panel_mobile {
    display: none;
}
nav#desktop {
    display: flex;
    align-content: center;
    justify-content: space-around;
    background-color: #f5f5f5;
}
nav#desktop li {
    width: 7em;
    margin: 0.8em 2em;
    box-shadow: 2px 2px 10px #b0b0b0;
}
#mobile {
   display: none;
}
#logo {
    display: inline;
    width: 180px;
    height: auto;
    padding-top: 0.5em;
}
/* --- header (responsive) --- */
/* spróbować zwiększyć max-width przez modyfikację odstępów i wielkości zdjęcia */
@media screen and (max-width: 1107px) {
    #desktop{
        display: none;
    }
    #mobile {
        display: block;
        position: relative;
        width: 100%;
        margin-top: 30px;
    }
    #mobile ul {
        margin-top: 3.2em;
    }
    #mobile li {
        display: block;
        text-decoration: none;
        padding: 0.4em;
        transition: 0.5s;
    }
    #mobile li a {
        color: white;
    }
    #user-actions a {
        margin: 0;
        padding: 0;
    }
    #hamb {
        font-size: 1.1em;
    }
    #hamb, #close-hamb {
        background-color: transparent;
        border: none;
    }
    button#close-hamb {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.6em;
        color: white;
        cursor: pointer;
        margin-top: 1em;
        margin-right: 5em;
    }
    .overlay {
        z-index: 5;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 0;
        background-color: #0957a7;
        overflow-x: hidden;
        transition: 0.5s;
        visibility: hidden;
    }
    #user-actions {
        align-items: center;
        padding: 1em 0;
    }
    #user-actions ul {
        padding: 0;
    }
    nav#desktop, #user-actions ul #register, #user-actions ul #logout {
        display: none;
    }
    #user-actions ul #login, #user-actions ul #admin_panel_desktop, #admin_panel_mobile, #user-actions ul #acc, #user-actions ul #hamb {
        background-color: transparent;
        padding: 0;
        /*box-shadow: transparent;*/
    }
    #user-actions ul #login, #user-actions ul #admin_panel_desktop, #admin_panel_mobile, #user-actions ul #acc {
        margin-right: 2em;
    }
    #user-actions ul #hamb {
        z-index: 900;
        display: inline-block;
    }
    #login, #logout {
        box-shadow: none;
    }
    /*header {*/
    /*    top: 0;*/
    /*    position: sticky;*/
    /*}*/
}

@media screen and (max-width: 490px) {
    #user-actions ul #admin_panel_desktop {
        display: none;
    }

    #mobile ul #admin_panel_mobile {
        display: block;
    }
}