/* --- Strona główna --- */
.page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 4.5em;
    /*width: 100%;*/
    height: auto;
    /*margin: 0 1em;*/
}
.center-section-size {
    max-width: 800px;
}
#target, #how-to-use  {
    margin: 0 auto;
}
#beginning {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row-reverse;
    column-gap: 5em;
}
.content-left {
    max-width: 500px;
    /*max-width: 20%;*/
}
.data {
    background-color: #66b4d85e;
}
.image {
    object-fit: cover;
    width: 385px;
    height: 356px;
    border-radius: 20px;
    margin-top: 0.5em;
}
@media screen and (max-width: 420px) {
    .image {
        max-width: 100%;
    }
}
.btn-description {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3.5em;
    max-width: 900px;
}
.btn-description a, #btn {
    text-align: center;
    height: 1.3em;
    border-radius: 90px;
    background-color: #4a9ce0;
    margin: 0 auto;
    padding: 1.1em 2.2em;
}
.header-margin-cut {
    margin: 0;
}


/* --- Strona główna (responsive) --- */
@media screen and (max-width: 1043px) {
    /* #main ? */
    .page {
        /* margin rozjeżdża stronę przy powiększaniu a11y */
        margin: 0 1.3em;
        /*margin: calc(8px + 1.5625vw);*/
        max-width: 95%;
        row-gap: 2em;
    }
    #beginning {
        flex-flow: column;
        row-gap: 1em;
    }
    .btn-description {
        flex-flow: column;
        align-items: center;
        justify-content: center;
        /*width: 216px;*/
        margin: 0 auto;
        /*max-width: 90%;*/
    }
    .btn-description a {
        margin: 0 auto 1.5em;
    }
    .content-left {
        /*max-width: 90%;*/
        /*max-width: 20%;*/
    }
}