/* --- Main styles --- */
html,
body {
    /*scroll-behavior: smooth;*/
    margin: 0;
}
/*body {*/
/*    font-family: "Varta", sans-serif;*/
/*    font-size: 1.3em;*/
/*    font-weight: 400;*/
/*}*/
h1, h2, h3, h4 {
    font-family: "DM Sans", sans-serif;
}
h1 {
    font-size: 3rem;
    text-align: center;
    padding-top: 1.5em;
}
h2 {
    font-size: 2.4em;
}
h3 {
    margin-top: 1.8em;
    margin-bottom: 0;
    margin-left: 0.3em;
    font-weight: bold;
    font-size: 1.8em;
}
h4 {
    font-size: 1.35em;
}
p:not(#info p, #author p), a, ul, ol {
    font-family: "Varta", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}
p ~ ul, p ~ ol {
    margin-top: 0;
}
p.list-glue {
    margin-bottom: 0;
}
a {
    color: black;
    padding: 0.5em;
    margin: -0.5em;
}
p a:visited, ol li a {
    color: #4a3d5d;
}
a.button-style, li.button-style a {
    display: inline-block;
    position: relative;
    z-index: 1;
}
a.button-style:hover, li.button-style:hover, #login:hover, #logout:hover, #reader:hover, #creator:hover {
    background-color: #4096dc;
}
a.button-style {
    padding: 1em;
    margin: -1em;
}
a:active, button:active, input[type=button]:active, input[type=submit]:active {
    text-decoration: underline;
}
li.button-style a {
    padding: 1em 3em;
    margin: -1em -3em;
}
a:hover {
    font-weight: bold;
}
textarea, input {
    font-family: "Varta", sans-serif;
    font-size: 1em;
    font-weight: 400;
}
.h1-reformat {
    font-size: 2.4em;
    text-align: left;
    padding: 0;
}
.reposition {
    margin-left: 26vw;
    row-gap: 1em;
}
@media screen and (max-width: 2144px) {
    .reposition {
        margin-left: 20vw;
    }
}
@media screen and (max-width: 1392px) {
    .reposition {
        margin-left: 10vw;
    }
}
@media screen and (max-width: 942px) {
    .reposition {
        margin-left: 3vw;
    }
}
.reposition h2 {
     margin-bottom: 0;
 }
input[type=checkbox] {
    width: 22px;
    height: 22px;
}

/* --- scroll button --- */
#scroll-btn {
    position: fixed;
    display: none;
/*    right: 25px;
    bottom: 25px;*/
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    border: none;
    background-color: #175a93;
    padding: 30px;
    cursor: pointer;
    /*box-shadow: 2px 2px 10px #b7cfe5;*/
}
#scroll-btn:hover {
    background-color: #104a79;
}
#arrow {
    position: absolute;
    height: 7px;
    width: 7px;
    left: 26px;
    bottom: 34px;
    border-width: 2.5px 0 0 2.5px;
    border-style: solid;
    border-color: white;
    transform: rotate(45deg);
    background-clip: content-box;
}
#scroll-txt {
    position: absolute;
    right: 6px;
    bottom: 13px;
    font-family: "Varta", sans-serif;
    font-size: 1.1em;
    color: white;
}


/* --- a11y button --- */
#a11y-options {
    position: fixed;
    right: 0;
    top: 350px;
    z-index: 999;
    background-color: rgba(225, 225, 225);
    border: 1px solid rgb(194, 193, 193);
    border-radius: 8px 0 0 8px;
    padding: 40px 2px 40px 2px;
}
#a11y-options:hover {
    background-color: rgb(217, 217, 217);
}
#a11y-options img {
    width: 50px;
    height: 50px;
}
#a11y-options:hover {
    cursor: pointer;
}
#a11y-options-expanded {
    position: fixed;
    display: none;
    right: 0;
    top: 280px;
    width: 180px;
    height: auto;
    z-index: 999;
    font-family: "Varta", sans-serif;
    font-weight: bold;
    color: black;
    background-color: rgba(225, 225, 225);
    border: 1px solid rgb(194, 193, 193);
    border-radius: 8px 0 0 8px;
}
#a11y-options-expanded button {
    font-size: 1em;
    background-color: transparent;
    border: none;
    padding: 0.5em;
    cursor: pointer;
}
.a11y-options-space {
    margin: 1.5em 1em;
}
.a11y-options-space span {
    font-weight: normal;
}
.a11y-options-space button {
    border-radius: 10px;
}
button#contrast-std, button#space-std, button#font-std, .active-a11y  {
    background-color: rgba(4, 116, 191, 0.3);
}
@media screen and (max-width: 1145px) {
    #a11y-options {
        background-color: rgba(224, 224, 224, 0.5);
    }
    #a11y-options img {
        opacity: 0.7;
    }
    #a11y-options {
        position: fixed;
/*        right: 30px;
        top: 1170px;*/
        z-index: 999;
        background-color: rgba(225, 225, 225);
        border: 1px solid rgb(194, 193, 193);
        width: 50px;
        height: 50px;
        /*border-radius-: 50px;*/
        -moz-border-radius-topleft: 50px;
        -moz-border-radius-bottomleft: 50px;
        padding: 0;
    }
}


/* --- Komunikaty --- */
.alert {
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    max-width: 500px;
    font-family: "Varta", sans-serif;
    font-size: 1.2em;
    text-align: center;
    background-color: #dde6e8;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid #545454;
}


/* --- High Contrast --- */
body.contrasty {
    background-color: black;
    color: yellow;
    /*filter: invert(100%);*/
}
body.contrasty #user-actions ul #hamb {
    color: white;
}
body.contrasty .overlay {
    background-color: #212121;
}
body.contrasty span.data, body.contrasty nav#desktop {
    background-color: #282828;
}
body.contrasty #user-actions, body.contrasty #info, body.contrasty .message-style {
    background-color: #111111;
}
body.contrasty #user-actions a, body.contrasty #info a, body.contrasty li.button-style a, body.contrasty .btn-description a {
    color: white;
}
body.contrasty li.button-style, body.contrasty .btn-description a, body.contrasty #login, body.contrasty #logout, body.contrasty #btn, body.contrasty .submit-btn, body.contrasty div#table-of-content {
    background-color: #0e0e0e;
}
body.contrasty div#author p {
    background-color: #0c0c0c;
}
body.contrasty p a, body.contrasty ul a, body.contrasty ol a {
    color: yellow;
}
body.contrasty :focus {
    border: 5px solid #1aebff;
}
body.contrasty #btn a {
    color: yellow;
}
body.contrasty .inline-form-text a, body.contrasty .submit-btn {
    color: yellow;
}
body.contrasty .inline-form-text:hover, body.contrasty .submit-btn:hover, body.contrasty input:hover {
    background-color: #0c0c0c;
    color: yellow;
}
body.contrasty input#email, body.contrasty input#password, body.contrasty input#registration_form_email, body.contrasty input#registration_form_username, body.contrasty input#registration_form_plainPassword, body.contrasty input, body.contrasty textarea {
    background-color: #111111;
    color: yellow;
}
body.contrasty p.txt-format, body.contrasty p#txt2-example {
    background-color: #212121;
}
body.contrasty .txt-inside {
    color: black;
}
body.contrasty div#hover-esc {
    background-color: #1a1a1a;
}

/* --- reader high contrast --- */
body.contrasty .bg-list-clear {
    background-color: rgba(13, 13, 13, 0.8);
}

/* --- side menu creator contrast --- */
body.contrasty #sidebar-btn-mobile, body.contrasty .main-item {
    background-color: #282828;
    color: white;
}
body.contrasty .main-item {
    color: yellow;
}
body.contrasty #wcag-list-content {
    background-color: #2a2a2a;
}
/*body.contrasty #perceivable, body.contrasty #operable, body.contrasty #understandable, body.contrasty #robust {*/
/*    background-color: #a9a9a9;*/
/*}*/
body.contrasty #perceivable-items, body.contrasty #operable-items, body.contrasty #understandable-items, body.contrasty #robust-items {
    background-color: #1e1e1e;
}
body.contrasty #perceivable:hover, body.contrasty #operable:hover, body.contrasty #understandable:hover, body.contrasty #robust:hover {
    background-color: #6b6b6b;
}

/* --- admin contrast --- */
body.contrasty .message-action-accept {
    background-color: #d9d9d9;
    color: black;
}
body.contrasty .message-action-delete {
    background-color: #adadad;
    color: black;
}

/* --- scroll btn contrast */
body.contrasty #scroll-btn {
    background-color: white;
}
body.contrasty #arrow {
    border-color: black;
}
body.contrasty #scroll-txt {
    color: black;
}

/* --- a11y menu contrast --- */
body.contrasty #a11y-options, body.contrasty #a11y-options-expanded {
    background-color: #131313;
}
body.contrasty .a11y-options-space, body.contrasty .a11y-options-space i {
    color: yellow;
}

/* --- Komunikaty contrast --- */
body.contrasty .alert {
    background-color: black;
}