/* --- Strefa czytelnika --- */

/* --- lista --- */
.bg-list-clear {
    background-color: rgb(166, 208, 244, 0.8);
    padding: 1em;
}
@media screen and (max-width: 632px) {
    .bg-list-clear {
        padding: 0.4em;
    }
    .bg-list-clear a {
        font-size: 0.8em;
    }
}
.list-clear-set {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.5em 1em;
    list-style-type: none;
}

/* --- content --- */
.content-rest {
    max-width: 500px;
}
.header-center {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    margin-top: 0;
}
.divisor {
    width: 25%;
    height: 1px;
    background-color: black;
    margin: 0 auto 3em;
}
.topic-page-center {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2em;
    padding-bottom: 4em;
}
.topic-center, .text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
}
.text-left {
    display: flex;
    align-items: center;
    column-gap: 3em;
    padding-bottom: 1.5em;
}
.text-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 3em;
    padding-bottom: 1.5em;
}
.img-reader-size {
    max-width: 400px;
}
.img-reader-centered {
    display: block;
    margin: 0 auto;
}
.img-resp-reader {
    max-width: 150%;
}
@media screen and (max-width: 1030px) {
    .img-resp-reader {
        max-width: 100%;
    }
}
p.WCAG-emph span {
    background-color: rgba(158, 153, 63, 0.35);
}
/*#regulacje section:nth-child(odd) {*/
/*    background-color: rgba(194,194,194,0.4);*/
/*}*/
/*#regulacje section:nth-child(even) {*/
/*    background-color: rgba(145,105,209,0.4);*/
/*}*/

/* --- Responsive content -> columns ---*/
@media screen and (max-width: 1043px) {
    .topic-page-center, .topic-center, .text-center, .text-left, .text-right  {
        flex-direction: column;
        column-gap: 0;
        /*padding: 0 1em;*/
    }
}
@media screen and (max-width: 630px) {
    .header-center {
        max-width: 320px;
        margin: 0 auto 1em;
    }
    .content-rest {
        max-width: 450px;
    }
}
@media screen and (max-width: 480px) {
    .img-reader-size {
        max-width: 80%;
    }
    article#rodzaje h2 {
        font-size: 2.1rem;
    }
    .content-rest {
        max-width: 300px;
    }
}
@media screen and (max-width: 480px) {
/*    .header-center {
        max-width: 280px;
        margin: 0 auto 1em;
    }
    .content-rest {
        max-width: 300px;
    }*/
}


/* --- czytelnik kolory article/ section + kontrast --- */
.reader-gray {
    background-color: rgba(194,194,194,0.4);
}
body.contrasty .reader-gray {
    background-color: rgba(26, 26, 26, 0.4);
}

.dostepnosc-main {
    background-color: #2880C9;
}
.dostepnosc-sub {
    background-color: rgba(40,129,201,0.4);
}
body.contrasty .dostepnosc-main {
    background-color: #0d3042;
}
body.contrasty .dostepnosc-sub {
    background-color: rgba(13, 47, 66, 0.4);
}

.regulacje-main {
    background-color: #8F67D0;
}
.regulacje-sub {
    background-color: rgba(145,105,209,0.4);
}
body.contrasty .regulacje-main {
    background-color: #392549;
}
body.contrasty .regulacje-sub {
    background-color: rgba(61, 44, 82, 0.4);
}

.rodzaje-main {
    background-color: #BD6161;
}
body.contrasty .rodzaje-main {
    background-color: #693232;
}

.technologie-main {
    background-color: #D4964D;
}
.technologie-sub {
    background-color: rgba(212,148,76,0.6);
}
body.contrasty .technologie-main {
    background-color: #3a2d16;
}
body.contrasty .technologie-sub {
    background-color: rgba(37, 27, 13, 0.6);
}

.wcag-main {
    background-color: #DAD33E;
}
.wcag-sub {
    background-color: rgba(217,209,61,0.6);
}
body.contrasty .wcag-main {
    background-color: #444111;
}
body.contrasty .wcag-sub {
    background-color: rgba(33, 31, 9, 0.6);
}

.aria-main {
    background-color: #55AF5A;
}
.aria-sub {
    background-color: rgba(86,176,91,0.6);
}
body.contrasty .aria-main {
    background-color: #1b361b;
}
body.contrasty .aria-sub {
    background-color: rgba(21, 42, 22, 0.6);
}

.wiecej-main {
    background-color: #C3C3C3;
}
body.contrasty .wiecej-main {
    background-color: #000000;
}