nav#sidebar {
    height: 100%;
    width: 12.6em;
    position: fixed;
    z-index: 1;
    top: 255px;
    left: 0;
    overflow-x: hidden;
    /*overflow-y: auto;*/
    /*background-color: rgb(105, 160, 209);*/
}
#sidebar-btn-mobile {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    bottom: 0;
    padding: 0.5em 1em;
    font-family: "Varta", sans-serif;
    font-size: 1.1em;
    /*background-color: #b7cfe5;*/
    background-color: rgb(105, 160, 209);
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 10px #b7cfe5;
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 1392px) {
    nav#sidebar {
        display: none;
    }
    #sidebar-btn-mobile {
        display: block;
    }
}
nav#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-item {
    background-color: #2680d0;
    padding: 0.5em;
}
.main-item:first-child {
    border-top-right-radius: 10px;
}
.main-item:last-child {
    border-bottom-right-radius: 10px;
}
nav#sidebar ul ul {
    list-style-type: none;
    margin: 0;
}
nav#sidebar > li {
    display: block;
}
#wcag-list-content {
    background-color: #ababab;
    padding: 0;
    margin: 0;
}
#perceivable, #operable, #understandable, #robust {
    padding: 0.2em 0.5em;
    cursor: pointer;
}
#perceivable-items, #operable-items, #understandable-items, #robust-items {
    display: none;
    width: 100%;
    padding: 1em;
    background-color: #ababab;
}
#perceivable:hover, #operable:hover, #understandable:hover, #robust:hover {
    width: 100%;
    background-color: #888888;
}