{% extends 'base.html.twig' %}

{% block title %}
    Kryterium sukcesu 1.3.2 zły przykład
{% endblock %}

{% block body %}
    <h1 class="ex-header">Przykład do kryterium sukcesu 1.3.2 Zrozumiała kolejność</h1>
    <main style="padding: 1em;">
        <p>Kolejność elementów jest zła. Najważniejsze informacje znajdują się dopiero po liście odnośników.</p>
        <ul>
            <li><a href="#" tabindex="3">Menu 1</a></li>
            <li><a href="#" tabindex="1">Menu 2</a></li>
            <li><a href="#" tabindex="2">Menu 3</a></li>
        </ul>
        <ul>
            <li><a href="#" tabindex="4">Link 1</a></li>
            <li><a href="#" tabindex="5">Link 2</a></li>
            <li><a href="#" tabindex="6">Link 3</a></li>
        </ul>
        <h2>Najważniejsze informacje</h2>
        <a href="#">Zawartość</a>
        <h3>Dodatkowe informacje</h3>

        <a href="{{ url('adapt_index', {id: 3}) }}#1_3_2"><u>Powrót do kryteriów sukcesu</u></a>
    </main>
{% endblock %}
