{% extends 'base.html.twig' %}
{# skonfigurowane include, zeby nie zchodzic ponizej templates? #}
{# zrobic normalne style #}
{# poprawic sidebar, zeby byl accessible #}
{# cos nie dziala grafika a11y #}
{% block title %}
    1.3.2 Dobry przykład
{% endblock %}

{% block body %}
    <h1>Przykład do kryterium sukcesu 2.1.2 Bez pułapki na klawiaturę</h1>
    <main>
        <ul>
            <li><a href="#">Menu 1</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
        </ul>
        <h2>Najważniejsze informacje</h2>
        <a href="#">Zawartość</a>
        <h3>Dodatkowe informacje</h3>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
        </ul>

        <a href="{{ url('adapt_index') }}#1_3_2">Powrót do kryteriów sukcesu</a>
        <!-- Każdy li, np. 4.1 włącza stronę z table of content z "głębszymi" kryteriami -->
        <!-- Dodać komentarze z możliwością wyboru kryterium? + pole w tabeli w bazie?  -->
    </main>
{% endblock %}
