<style>
    .container {
        display: flex;
        max-width: 1000px;
    }
    .item {
        background-color: aqua;
        padding: 2em 8em;
        margin: 2em;
        font-size: 1em;
        width: 4em;
        height: 6em;
    }
</style>

<div class="container">
    <div class="item">Treść elementu 1</div>
    <div class="item">Treść elementu 2</div>
    <div class="item">Treść elementu 3</div>
    <div class="item">Treść elementu 4</div>
</div>
<a href="../1_3_adapt.html#1_3_4">Powrót do kryteriów sukcesu</a>