{% extends 'base.html.twig' %}

{% block title %}
    Kryterium sukcesu 1.3.2 dobry przykład
{% endblock %}

{% block body %}
    <h1 class="ex-header">Przykład do kryterium sukcesu 1.3.2 Zrozumiała kolejność</h1>
    <main style="padding: 1em;">
        <p>Kolejność elementów jest odpowiednia. Na początku strony znajduje się elementy menu, później najważniejsze informacje.</p>
        <ul>
            <li><a href="#">Menu 1</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
        </ul>
        <h2>Najważniejsze informacje</h2>
        <a href="#">Zawartość</a>
        <h3>Dodatkowe informacje</h3>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
        </ul>

        <a href="{{ url('adapt_index') }}#1_3_2">Powrót do kryteriów sukcesu</a>
    </main>
{% endblock %}
