{% extends 'base.html.twig' %}

{% block title %}
    Kryterium sukcesu 1.3.4 zły przykład
{% endblock %}

{% block body %}
    <h1 class="ex-header">Przykład do kryterium sukcesu 1.3.4 Orientacja</h1>
    <main style="padding: 1em;">
        <p>Strona jest wyświetlana nieprawidłowo, kiedy jest wyświetlana w orientacji pionowej. Zawartość wychodzi poza stronę.</p>
        <div class="container">
            <div class="item">Treść elementu 1</div>
            <div class="item">Treść elementu 2</div>
            <div class="item">Treść elementu 3</div>
            <div class="item">Treść elementu 4</div>
        </div>
        <a href="{{ url('adapt_index', {id: 3}) }}#1_3_4"><u>Powrót do kryteriów sukcesu</u></a>
    </main>
{% endblock %}