{% block title %}
    3.2.1 Dobry przykład
{% endblock %}

<h1>Przykład do kryterium sukcesu 3.2.1 Po otrzymaniu fokusu</h1>
<h2>Zmiana kontekstu przy fokusie</h2>
<p>Przejdziesz do strony głównej dopiero wtedy, gdy na linku klikniesz Enter.</p>

<a href="{{ url('home_index') }}#3_2_1" target="_blank">Przejdź do strony głównej</a><br/><br/>

<a href="{{ url('predict_index') }}#3_2_1">Powrót do kryteriów sukcesu</a>
