@import url("https://fonts.googleapis.com/css2?family=Assistant&family=DM+Sans&family=Varta&display=swap");

html,
body {
    scroll-behavior: smooth;
    margin: 0;
}
h1, h2 {
    font-family: "DM Sans", sans-serif;
}
h1 {
    font-size: 3rem;
    text-align: center;
    padding-top: 1.5em;
}
h2 {
    font-size: 2.4em;
}
p:not(#info p, #author p), ul, a {
    font-family: "Varta", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}
p ~ ul {
    margin-top: 0;
}
p.list-glue {
    margin-bottom: 0;
}
a {
    color: black;
}


/* --- header --- */
#skip-link {
    position: absolute;
    padding: 4px;
    transform: translateY(-100%);
}
#skip-link:focus {
    transform: translateY(0%);
}
ul, a,
#register,
.button-style,
input[type=submit] {
    font-size: 1.2rem;
    text-decoration: none;
}
#user-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #1e7dcc;
    padding: 1em 13em;
}
#user-actions ul #login {
    background-color: transparent;
}
#user-actions li, nav li {
    display: inline-block;
}
#register,
.button-style,
input[type=submit] {
    text-align: center;
    list-style-type: none;
    background-color: #4a9ce0;
    border-radius: 90px;
    padding: 0.8em 3em;
}
nav {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    background-color: #f5f5f5;
}
nav li {
    width: 7em;
    margin: 0.8em 2em;
}
#logo {
    display: inline;
    width: 180px;
    height: auto;
    padding-top: 0.5em;
}


/* --- footer --- */
#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e7dcc;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    margin-top: 4em;
}
#info p a {
    color: white;
    font-size: 1.4rem;
}
#author p {
    font-family: "Varta", sans-serif;
    font-size: 0.9rem;
    text-align: center;
    color: white;
    background-color: #0957a7;
    padding: 1em 0 0.7em 0;
    margin: 0;
}
#logo2 {
    width: 87.4px;
    height: auto;
    margin: 0.7em 0;
}


/* scroll button */
#scroll-btn {
    position: fixed;
    display: none;
    right: 25px;
    bottom: 25px;
    border-radius: 50%;
    border: none;
    background-color: #57a8eb;
    padding: 30px;
    cursor: pointer;
}
#arrow {
    position: absolute;
    height: 10px;
    width: 10px;
    left: 25px;
    bottom: 20px;
    border-width: 2.5px 0 0 2.5px;
    border-style: solid;
    border-color: white;
    transform: rotate(45deg);
    background-clip: content-box;
}


/* a11y button */
#a11y-options {
    position: fixed;
    right: 0;
    top: 350px;
    z-index: 999;
    background-color: rgba(225, 225, 225);
    border: 1px solid rgb(194, 193, 193);
    border-radius: 8px 0 0 8px;
    padding: 40px 2px 40px 2px;
}
#a11y-options img {
    width: 50px;
    height: 50px;
}
#a11y-options:hover {
    cursor: pointer;
}
#a11y-options-expanded {
    position: fixed;
    display: none;
    right: 0;
    top: 280px;
    width: 180px;
    height: auto;
    z-index: 999;
    font-family: "Varta", sans-serif;
    font-weight: bold;
    color: black;
    background-color: rgba(225, 225, 225);
    border: 1px solid rgb(194, 193, 193);
    border-radius: 8px 0 0 8px;
}
#a11y-options-expanded button {
    font-size: 1em;
    background-color: transparent;
    border: none;
    padding: 0.5em;
    cursor: pointer;
}
.a11y-options-space {
    margin: 1em;
}


/* --- Strona główna --- */
.page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 4.5em;
    width: 100%;
    height: auto;
}
.center-section-size {
    max-width: 800px;
}
#target, #how-to-use  {
    margin: 0 auto;
}
#beginning {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row-reverse;
    column-gap: 5em;
}
.content-left {
    max-width: 500px;
    /*max-width: 20%;*/
}
.data {
    background-color: #66b4d85e;
}
.image {
    object-fit: cover;
    width: 385px;
    height: 356px;
    border-radius: 20px;
    margin-top: 0.5em;
}
.btn-description {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3.5em;
    max-width: 900px;
}
.btn-description a {
    height: 1.3em;
    border-radius: 90px;
    background-color: #4a9ce0;
    margin-top: 40px;
    padding: 1.1em 2.2em;
}
.header-margin-cut {
    margin: 0;
}


/* Logowanie */


/* Rejestracja */
