{% extends 'base.html.twig' %}

{% block title %}
    Profil użytkownika
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <main id="main" class="page">

    </main>
    {% include 'footer.html.twig' %}
{% endblock %}
