{% extends 'base.html.twig' %}
{# skonfigurowane include, zeby nie zchodzic ponizej templates? #}
{# zrobic normalne style #}
{# poprawic sidebar, zeby byl accessible #}
{# cos nie dziala grafika a11y #}
{% block title %}
    Strefa twórcy
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}
    <main id="main" class="page reposition content-cut" {#style="margin-left: 200px;"#}>
        <article>
            <h1>Moduł dedykowany twórcom</h1>
            <p>
                W tym module znajdziesz przydatne informacje, które pomogą Ci w tworzeniu bardziej dostępnych treści internetowych.
                Moduł powstał na podstawie <a target="_blank" href="https://www.w3.org/Translations/WCAG21-pl/">oficjalnego dokumentu Web Content Accessibility Guidelines 2.1</a>.
            </p>
            <p>
                Główną częścią modułu jest poradnik o wytycznych WCAG 2.1, gdzie znajdziesz opisy wytycznych z przykładami.
            </p>
            <p class="list-glue">
                Opisane zostały 4 zasady dokumentu WCAG 2.1:
            </p>
                <ol>
                    <li>Postrzegalność – Treści na stronie przedstawiaj w sposób postrzegalny przez różne zmysły.</li>
                    <li>Funkcjonalność – Pozwól, aby użytkownik mógł używać różnych urządzeń i narzędzi do nawigacji po stronie.</li>
                    <li>Zrozumiałość – Zadbaj, aby treści na stronie były zrozumiałe.</li>
                    <li>Solidność – Twórz treści możliwe do odczytania przez programy użytkownika, w tym technologie asystujące.</li>
                </ol>
            <p>
                Dodatkowo możesz użyć <a href="{{ url('WCAG_checklist_index') }}">Checklisty WCAG 2.1</a>, aby zobaczyć, w jakim stopniu spełniasz wytyczne dokumentu.<br/>
            </p>
            <p style="margin-top: 0;">
                <b class="extra" style="margin-bottom: 0;">UWAGA</b><br/>
                W związku ze specyfiką tego modułu część treści nie jest dostępna.
            </p>
        </article>
        <!-- Każdy li, np. 4.1 włącza stronę z table of content z "głębszymi" kryteriami -->
        <!-- Dodać komentarze z możliwością wyboru kryterium? + pole w tabeli w bazie?  -->
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}