{% extends 'base.html.twig' %}
{# skonfigurowane include, zeby nie zchodzic ponizej templates? #}
{# zrobic normalne style #}
{# poprawic sidebar, zeby byl accessible #}
{# cos nie dziala grafika a11y #}
{% block title %}
    Dla twórcy
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}
    <main id="main" class="page">
{#        <div style="margin-left: 15em;">#}
        <div>
            <h1>Moduł dedykowany twórcom</h1>
            <p class="txt-format">
                W tym module znajdziesz przydatne informacje, które pomogą Ci w tworzeniu bardziej dostępnych treści internetowych.
                Moduł powstał na bazie oficjalnego dokumentu Web Content Accessibility Guidelines 2.1.
            </p>
            <p class="txt-format">
                Główną częścią modułu jest poradnik o wytycznych WCAG 2.1. Znajdziesz tam opisy wytycznych, a co najważniejsze – opis problemów z przykładami.
            </p>
            <p class="txt-format list-glue">
                Opisane zostały 4 zasady dokumentu WCAG 2.1:
            </p>
            <ol>
                <li>Postrzegalność – Treści na stronie przedstawiaj w sposób postrzegalny przez różne zmysłów.</li>
                <li>Funkcjonalność – Pozwól, aby użytkownik mógł używać różnych urządzeń i narzędzi do nawigacji po stronie.</li>
                <li>Zrozumiałość – Zadbaj, aby treści na stronie były zrozumiałe.</li>
                <li>Solidność – Twórz treści możliwe do odczytania przez programy użytkownika, w tym technologie asystujące.</li>
            </ol>
            <p class="txt-format">
                Dodatkowo możesz użyć Checklisty WCAG 2.1, aby zobaczyć, w jakim stopniu spełniasz wytyczne dokumentu.<br/>
            </p>
            <h3 style="margin-bottom: 0;">UWAGA</h3>
            <p class="txt-format" style="margin-top: 0;">
                W związku ze specyfiką tego modułu część treści nie jest dostępna.
            </p>
        </div>
        </div>

        <!-- Każdy li, np. 4.1 włącza stronę z table of content z "głębszymi" kryteriami -->
        <!-- Dodać komentarze z możliwością wyboru kryterium? + pole w tabeli w bazie?  -->
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}