{% extends 'base.html.twig' %}
{# skonfigurowane include, zeby nie zchodzic ponizej templates? #}
{# zrobic normalne style #}
{# poprawic sidebar, zeby byl accessible #}
{# cos nie dziala grafika a11y #}
{% block title %}
    Checklista wytycznych WCAG 2.1
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}
{#    <main id="main" class="page"></main>#}

    <main style="margin-left: 15em;">
        <h1>Checklista wytycznych WCAG 2.1</h1>
        <p class="txt-format-main">
            <!-- Zrobić tak lub pole zaznaczone i strzałka prowadząca dalej - nie tak lepiej? -->
        </p>
        <div>
            <fieldset>
                <legend id="scA">Kryteria sukcesu - Poziom A</legend>
                <!-- <h2 id="scA">Kryteria sukcesu - Poziom A</h2> -->
                <label><input type="checkbox" name="scA"/><a href="1_1_alt-txt.html#1_1_1" target="_blank">Kryterium sukcesu 1.1.1 Treść nietekstowa</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="1_1_alt-txt.html#1_2_1">Kryterium sukcesu 1.2.1 Tylko audio lub tylko wideo (nagranie)</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="1_2_multimedia.html#1_2_2">Kryterium sukcesu 1.2.2 Napisy rozszerzone (nagranie)</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="1_2_multimedia.html#1_2_3">Kryterium sukcesu 1.2.3 Audiodeskrypcja lub alternatywa tekstowa dla mediów (nagranie)</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="1_3_adapt.html#1_3_1">Kryterium sukcesu 1.3.1 Informacje i relacje</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="1_3_adapt.html#1_3_2">Kryterium sukcesu 1.3.2 Zrozumiała kolejność</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="1_3_adapt.html#1_3_3">Kryterium sukcesu 1.3.3 Właściwości zmysłowe</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="1_4_distinguish.html#1_4_1">Kryterium sukcesu 1.4.1 Użycie koloru</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="1_4_distinguish.html#1_4_2">Kryterium sukcesu 1.4.2 Kontrola odtwarzania dźwięku</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="2_1_keyboard.html#2_1_1">Kryterium sukcesu 2.1.1 Klawiatura</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="2_1_keyboard.html#2_1_2">Kryterium sukcesu 2.1.2 Bez pułapki na klawiaturę</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="2_1_keyboard.html#2_1_4">Kryterium sukcesu 2.1.4 Jednoznakowe skróty klawiaturowe</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="2_2_time.html#2_2_1">Kryterium sukcesu 2.2.1 Dostosowanie czasu</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="2_2_time.html#2_2_2">Kryterium sukcesu 2.2.2 Pauza, zatrzymanie, ukrycie</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="2_3_epilepsy.html#2_3_1">Kryterium sukcesu 2.3.1 Trzy błyski lub wartości poniżej progu</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="2_4_nav.html#2_4_1">Kryterium sukcesu 2.4.1 Możliwość pominięcia bloków</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="2_4_nav.html#2_4_2">Kryterium sukcesu 2.4.2 Tytuły stron</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="2_4_nav.html#2_4_3">Kryterium sukcesu 2.4.3 Kolejność fokusu</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="2_4_nav.html#2_4_4">Kryterium sukcesu 2.4.4 Cel łącza (w kontekście)</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="2_5_inputs.html#2_5_1">Kryterium sukcesu 2.5.1 Gesty dotykowe</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="2_5_inputs.html#2_5_2">Kryterium sukcesu 2.5.2 Rezygnacja ze wskazania</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="2_5_inputs.html#2_5_3">Kryterium sukcesu 2.5.3 Etykieta w nazwie</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="2_5_inputs.html#2_5_4">Kryterium sukcesu 2.5.4 Aktywowanie ruchem</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="3_1_read.html#3_1_1">Kryterium sukcesu 3.1.1 Język strony</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="3_2_predict.html#3_2_1">Kryterium sukcesu 3.2.1 Po otrzymaniu fokusu</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="3_2_predict.html#3_2_2">Kryterium sukcesu 3.2.2 Podczas wprowadzania danych</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="3_3_help.html#3_3_1">Kryterium sukcesu 3.3.1 Identyfikacja błędu</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="3_3_help.html#3_3_2">Kryterium sukcesu 3.3.2 Etykiety lub instrukcje</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="4_1_compatible.html#4_1_1">Kryterium sukcesu 4.1.1 Poprawność kodu</a></label><br/>
                <label><input type="checkbox" name="scA"/><a href="4_1_compatible.html#4_1_2">Kryterium sukcesu 4.1.2 Nazwa, rola, wartość</a></label>
                <p id="successA" aria-live="assertive"></p>
            </fieldset>
        </div>
        <div>
            <fieldset>
                <legend id="scAA">Kryteria sukcesu - Poziom AA</legend>
                <!-- <h2 id="scAA">Kryteria sukcesu - Poziom AA</h2> -->
                <label><input type="checkbox" name="scAA"/><a href="1_2_multimedia.html#1_2_4">Kryterium sukcesu 1.2.4 Napisy rozszerzone (na żywo)</a></label><br/>
                <label><input type="checkbox" name="scAA"/><a href="1_2_multimedia.html#1_2_5">Kryterium sukcesu 1.2.5 Audiodeskrypcja (nagranie)</a></label><br/>
                <label><input type="checkbox" name="scAA"/><a href="1_3_adapt.html#1_3_4">Kryterium sukcesu 1.3.4 Orientacja</a></label><br/>
                <label><input type="checkbox" name="scAA"/><a href="1_3_adapt.html#1_3_5">Kryterium sukcesu 1.3.5 Określenie pożądanej wartości</a></label><br/>
                <label><input type="checkbox" name="scAA"/><a href="1_4_distinguish.html#1_4_3">Kryterium sukcesu 1.4.3 Kontrast (minimalny)</a></label><br/>
                <label><input type="checkbox" name="scAA"/><a href="1_4_distinguish.html#1_4_4">Kryterium sukcesu 1.4.4 Zmiana rozmiaru tekstu</a></label><br/>
                <label><input type="checkbox" name="scAA"/><a href="1_4_distinguish.html#1_4_5">Kryterium sukcesu 1.4.5 Obrazy tekstu</a></label><br/>
                <label><input type="checkbox" name="scAA"/><a href="1_4_distinguish.html#1_4_10">Kryterium sukcesu 1.4.10 Dopasowanie do ekranu</a></label><br/>
                <label><input type="checkbox" name="scAA"/><a href="1_4_distinguish.html#1_4_11">Kryterium sukcesu 1.4.11 Kontrast elementów nietekstowych</a></label><br/>
                <label><input type="checkbox" name="scAA"/><a href="1_4_distinguish.html#1_4_12">Kryterium sukcesu 1.4.12 Odstępy w tekście</a></label><br/>
                <label><input type="checkbox" name="scAA"/><a href="1_4_distinguish.html#1_4_13">Kryterium sukcesu 1.4.13 Treść spod kursora lub fokusu</a></label><br/>
                <label><input type="checkbox" name="scAA"/><a href="2_4_nav.html#2_4_5">Kryterium sukcesu 2.4.5 Wiele dróg</a></label><br/>
                <label><input type="checkbox" name="scAA"/><a href="2_4_nav.html#2_4_6">Kryterium sukcesu 2.4.6 Nagłówki i etykiety</a></label><br/>
                <label><input type="checkbox" name="scAA"/><a href="2_4_nav.html#2_4_7">Kryterium sukcesu 2.4.7 Widoczny fokus</a></label><br/>
                <label><input type="checkbox" name="scAA"/><a href="3_1_read.html#3_1_2">Kryterium sukcesu 3.1.2 Język części</a></label><br/>
                <label><input type="checkbox" name="scAA"/><a href="3_2_predict.html#3_2_3">Kryterium sukcesu 3.2.3 Spójna nawigacja</a></label><br/>
                <label><input type="checkbox" name="scAA"/><a href="3_2_predict.html#3_2_4">Kryterium sukcesu 3.2.4 Spójna identyfikacja</a></label><br/>
                <label><input type="checkbox" name="scAA"/><a href="3_3_help.html#3_3_3">Kryterium sukcesu 3.3.3 Sugestie korekty błędów</a></label><br/>
                <label><input type="checkbox" name="scAA"/><a href="3_3_help.html#3_3_4">Kryterium sukcesu 3.3.4 Zapobieganie błędom (prawnym, finansowym, w danych)</a></label><br/>
                <label><input type="checkbox" name="scAA"/><a href="4_1_compatible.html#4_1_3">Kryterium sukcesu 4.1.3 Komunikaty o stanie</a></label>
                <p id="successAA" aria-live="assertive"></p>
            </fieldset>
        </div>
        <div>
            <fieldset>
                <legend id="scAAA">Kryteria sukcesu - Poziom AAA</legend>
                <!-- <h2 id="scAAA">Kryteria sukcesu - Poziom AAA</h2> -->
                <label><input type="checkbox" name="scAAA"/><a href="1_2_multimedia.html#1_2_6">Kryterium sukcesu 1.2.6 Język migowy (nagranie)</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="1_2_multimedia.html#1_2_7">Kryterium sukcesu 1.2.7 Rozszerzona audiodeskrypcja (nagranie)</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="1_2_multimedia.html#1_2_8">Kryterium sukcesu 1.2.8 Alternatywa dla mediów (nagranie)</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="1_2_multimedia.html#1_2_9">Kryterium sukcesu 1.2.9 Tylko audio (na żywo)</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="1_3_adapt.html#1_3_6">Kryterium sukcesu 1.3.6 Określenie przeznaczenia</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="1_4_distinguish.html#1_4_6">Kryterium sukcesu 1.4.6 Kontrast (wzmocniony)</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="1_4_distinguish.html#1_4_7">Kryterium sukcesu 1.4.7 Niska głośność lub bez dźwięków w tle</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="1_4_distinguish.html#1_4_8">Kryterium sukcesu 1.4.8 Prezentacja wizualna</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="1_4_distinguish.html#1_4_9">Kryterium sukcesu 1.4.9 Obrazy tekstu (bez wyjątków)</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="2_1_keyboard.html#2_1_3">Kryterium sukcesu 2.1.3 Klawiatura (bez wyjątków)</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="2_2_time.html#2_2_3">Kryterium sukcesu 2.2.3 Bez ograniczeń czasowych</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="2_2_time.html#2_2_4">Kryterium sukcesu 2.2.4 Przerywanie</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="2_2_time.html#2_2_5">Kryterium sukcesu 2.2.5 Ponowne potwierdzenie autentyczności</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="2_2_time.html#2_2_6">Kryterium sukcesu 2.2.6 Ostrzeżenie o limicie czasu</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="2_3_epilepsy.html#2_3_2">Kryterium sukcesu 2.3.2 Trzy błyski</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="2_3_epilepsy.html#2_3_3">Kryterium sukcesu 2.3.3 Animacja po interakcji</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="2_4_nav.html#2_4_8">Kryterium sukcesu 2.4.8 Lokalizacja</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="2_4_nav.html#2_4_9">Kryterium sukcesu 2.4.9 Cel łącza (z samego łącza)</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="2_4_nav.html#2_4_10">Kryterium sukcesu 2.4.10 Nagłówki sekcji</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="2_5_inputs.html#2_5_5">Kryterium sukcesu 2.5.5 Rozmiar celu dotykowego</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="2_5_inputs.html#2_5_6">Kryterium sukcesu 2.5.6 Równoległy mechanizm wprowadzania danych</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="3_1_read.html#3_1_3">Kryterium sukcesu 3.1.3 Nietypowe słowa</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="3_1_read.html#3_1_4">Kryterium sukcesu 3.1.4 Skróty</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="3_1_read.html#3_1_5">Kryterium sukcesu 3.1.5 Poziom umiejętności czytania</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="3_1_read.html#3_1_6">Kryterium sukcesu 3.1.6 Wymowa</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="3_2_predict.html#3_2_5">Kryterium sukcesu 3.2.5 Zmiana na żądanie</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="3_3_help.html#3_3_5">Kryterium sukcesu 3.3.5 Pomoc</a></label><br/>
                <label><input type="checkbox" name="scAAA"/><a href="3_3_help.html#3_3_6">Kryterium sukcesu 3.3.6 Zapobieganie błędom (wszystkim)</a></label>
                <p id="successAAA" aria-live="assertive"></p>
            </fieldset>
        </div>
        </div>
    </main>

    <!-- Każdy li, np. 4.1 włącza stronę z table of content z "głębszymi" kryteriami -->
    <!-- Poziomy w różnych kolorach -->
    <!-- Zrobić coś z poziomem w nawiasie -->
    <!-- Filtrowanie po poziomach? -->
    <!-- Scroll do góry wszędzie? -->
    {% block javascripts %}
        {{ parent() }}
        <script>
            const checkboxesAll = $('input[type="checkbox"]');
            const checkboxAll_count = checkboxesAll.length;

            $(document).ready(function() {
                let checkbox = $('input[type="checkbox"]');
                let checkboxA = $('input[name="scA"]').length;
                let checkboxAA = $('input[name="scAA"]').length;
                let checkboxAAA = $('input[name="scAAA"]').length;
                let completedA = false;
                let completedAA = false;
                let completedAAA = false;
                const headerA = document.getElementById('scA');
                const headerAA = document.getElementById('scAA');
                const headerAAA = document.getElementById('scAAA');
                const successA = document.getElementById('successA');
                const successAA = document.getElementById('successAA');
                const successAAA = document.getElementById('successAAA');

                checkbox.click(function() {
                    let checkedA_count = $('input[name="scA"]:checked').length;
                    let checkedAA_count = $('input[name="scAA"]:checked').length;
                    let checkedAAA_count = $('input[name="scAAA"]:checked').length;

                    if (!completedA && checkboxA == checkedA_count) {
                        completedA = true;
                        headerA.style.textDecoration = 'line-through';
                        successA.textContent = 'Spełniono kryteria dla poziomu A.';
                        successA.style.backgroundColor = 'yellow';
                    }
                    else if (checkboxA != checkedA_count) {
                        completedA = false;
                        headerA.style.textDecoration = 'none';
                        successA.textContent = '';
                    }

                    if (completedA && checkboxAA == checkedAA_count) {
                        completedAA = true;
                        headerAA.style.textDecoration = 'line-through';
                        successAA.textContent = 'Spełniono kryteria dla poziomu AA.';
                        successAA.style.backgroundColor = 'yellow';
                    }
                    else if (completedA == false || checkboxAA != checkedAA_count) {
                        completedAA = false;
                        headerAA.style.textDecoration = 'none';
                        successAA.textContent = '';
                    }

                    if (completedA && completedAA && checkboxAAA == checkedAAA_count) {
                        completedAAA = true;
                        headerAAA.style.textDecoration = 'line-through';
                        successAAA.textContent = 'Spełniono kryteria dla poziomu AAA.';
                        successAAA.style.backgroundColor = 'yellow';
                    }
                    else if (completedAA == false || checkboxAAA != checkedAAA_count) {
                        completedAAA = false;
                        headerAAA.style.textDecoration = 'none';
                        successAAA.textContent = '';
                    }
                });
            });
        </script>
    {% endblock %}
    {% include 'footer.html.twig' %}
{% endblock %}