{% extends 'base.html.twig' %}
{# skonfigurowane include, zeby nie zchodzic ponizej templates? #}
{# zrobic normalne style #}
{# poprawic sidebar, zeby byl accessible #}
{# cos nie dziala grafika a11y #}
{% block title %}
    Wytyczna 3.1 Możliwość odczytania
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}
    <main id="main" class="page reposition content-cut">
        <article>
            <h1>Wytyczna 3.1 Możliwość odczytania</h1>
            <section>
                <p>
                    Twórz treści możliwe do odczytania i zrozumienia.
                </p>
                <div id="table-of-content">
                    <h2>Spis treści</h2>
                    <ul>
                        <li><a href="#3_1_1">Kryterium sukcesu 3.1.1 Język strony – Poziom A</a></li>
                        <li><a href="#3_1_2">Kryterium sukcesu 3.1.2 Język części – Poziom AA</a></li>
                        <li><a href="#3_1_3">Kryterium sukcesu 3.1.3 Nietypowe słowa – Poziom AAA</a></li>
                        <li><a href="#3_1_4">Kryterium sukcesu 3.1.4 Skróty – Poziom AAA</a></li>
                        <li><a href="#3_1_5">Kryterium sukcesu 3.1.5 Poziom umiejętności czytania – Poziom AAA</a></li>
                        <li><a href="#3_1_6">Kryterium sukcesu 3.1.6 Wymowa – Poziom AAA</a></li>
                    </ul>
                </div>
            </section>
            <section>
                <h3 id="3_1_1">Kryterium sukcesu 3.1.1 Język strony – Poziom A</h3>
                <p class="list-glue">
                    Musisz określić domyślny język naturalny strony. Będzie on odczytywany przez różne programy, w tym
                    technologie asystujące. To m.in.:
                </p>
                <ul>
                    <li>zmiana tekstu na mowę,</li>
                    <li>czytnik tekstu,</li>
                    <li>czytnik ekranu.</li>
                </ul>
                <p>
                    Język strony określisz przez użycie atrybutu 'lang' dla znacznika &lt;html&gt;:
                </p>
                <pre>
                        <code>
&lt;html lang="pl"&gt;

&lt;html lang="en"&gt;

&lt;html lang="fr"&gt;
                        </code>
                    </pre>
                <p>
                    Przykładem jest strona w języku francuskim. Kiedy ma ustalony domyślny język francuski, treść strony
                    będzie również wymawiana po francusku, a nie np. po angielsku.
                </p>
                <p class="list-glue">
                    Kiedy strona obsługuje kilka języków, jako główny wybierz język:
                </p>
                <ul>
                    <li>najczęściej używany przez użytkowników</li>
                    lub
                    <li>w którym treść strony jest najbardziej kompletna.</li>
                </ul>
            </section>
            <section>
                <h3 id="3_1_2">Kryterium sukcesu 3.1.2 Język części – Poziom AA</h3>
                <p>
                    Niektóre fragmenty tekstu lub frazy są napisane w innym języku niż w języku całej strony.
                    W takiej sytuacji musisz określić poprawny język tej części tekstu, jeśli jest to niezbędne dla poprawnego
                    odczytania i zrozumienia zawartości.
                </p>
                <p class="list-glue">
                    Wyjątkiem są:
                </p>
                <ul>
                    <li>nazwy własne,</li>
                    <li>wyrażenia techniczne,</li>
                    <li>słowa w nieokreślonym języku,</li>
                    <li>słowa i frazy, które są częścią tekstu napisanego w żargonie.</li>
                </ul>
                <p>
                    Przykład:<br/>
                    Christopher wziął bagietkę ze stoiska i powiedział głośno: <span lang="fr">J'aime le pain</span>.
                </p>
                <pre id="code-example2">
                        <code>
Christopher wziął bagietkę ze stoiska i powiedział głośno: &lt;span lang="fr"&gt;J'aime le pain&lt;/span&gt;.
                        </code>
                    </pre>
                <p>
                    Kiedy określisz język części tekstu, technologie asystujące mogą go poprawnie odczytać i wyświetlić.
                    Pamiętaj jednak, że niektóre słowa są zapożyczone z innych języków. Wtedy nie musisz określać ich
                    języka (np. <i>fast food</i>).
                </p>
            </section>
            <section>
                <h3 id="3_1_3">Kryterium sukcesu 3.1.3 Nietypowe słowa – Poziom AAA</h3>
                <p>
                    Na stronie musisz dodać mechanizm, który pozwoli określić znaczenie słów użytych w nietypowy lub
                    ograniczony sposób, w tym idiomów i żargonu.
                </p>
                <p>
                    Osobom z niektórymi niepełnosprawnościami jest trudno zrozumieć słowa, które są użyte w nietypowy
                    sposób. Mogą mieć problem z wywnioskowaniem znaczenia słowa zarówno w kontekście, jak i bez niego.
                </p>
                <p class="list-glue">
                    Nietypowe słowa możesz objaśnić na różne sposoby:
                </p>
                <ul>
                    <li>zdefiniować niezrozumiałe słowa w tekście lub na dole strony,</li>
                    <li>utworzyć słowniczek z definicjami niezrozumiałych słów.</li>
                </ul>
                <p class="list-glue">
                    Przykłady:
                </p>
                <ul>
                    <li><i>Mamy problem z naszą sąsiadką. Drzemy z nią koty (drzeć koty – być z kimś w konflikcie,
                            kłócić się), od kiedy pamiętam.</i></li>
                    <li><i>Na Pawle ciężko polegać, niczego nie traktuje poważnie. Z niego to zawsze była straszna
                            szaławiła (szaławiła – lekkoduch, osoba lubiąca zabawę).</i></li>
                </ul>
                <img src="{{ asset('img/3_1_3.jpg') }}" alt="Przykładowy słownik z definicjami niezrozumiałych słów." class="img-resp"/>
            </section>
            <section>
                <h3 id="3_1_4">Kryterium sukcesu 3.1.4 Skróty – Poziom AAA</h3>
                <p>
                    Wyjaśniaj znaczenie używanych skrótów, rozwiń je.
                </p>
                <p class="list-glue">
                    Część osób:
                </p>
                <ul>
                    <li>nie rozumie znaczenia skrótów,</li>
                    <li>nie umie wywnioskować znaczenia skrótów z kontekstu,</li>
                    <li>ma problem z zapamiętaniem znaczenia skrótów.</li>
                </ul>
                <p class="list-glue">
                    Skróty możesz objaśnić przez:
                </p>
                <ul>
                    <li>
                        <b>Rozszerzenie skrótu, kiedy jest użyty po raz pierwszy:</b><br/>
                        JAWS (Job Access with Speech) to czytnik ekranu, który współpracuje z różnymi aplikacjami w
                        systemie Windows.
                    </li>
                    <li>
                        <b>Wyświetlenie znaczenia skrótu w utworzonym elemencie 'tooltip':</b><br/>
                        <div class="tooltip">JAWS <span class="tooltip-content">Job Access with Speech</span></div>
                        to czytnik ekranu, który współpracuje z różnymi aplikacjami systemu Windows.
                    </li>
                </ul>
            </section>
            <section>
                <h3 id="3_1_5">Kryterium sukcesu 3.1.5 Poziom umiejętności czytania – Poziom AAA</h3>
                <p class="list-glue">
                    Tekst na stronie musi wymagać umiejętności czytania najwyżej na poziomie gimnazjalnym, po usunięciu
                    nazw własnych i tytułów.
                    Jeśli nie da się tego zrobić, udostępnij:
                </p>
                <ul>
                    <li>treść wyjaśniającą tekst</li>
                    lub
                    <li>alternatywną wersję tekstu, którą może przeczytać osoba na poziomie gimnazjum.</li>
                </ul>
                <p class="list-glue">
                    Tekst napisany prostym językiem będzie zrozumiały nie tylko dla osób, których umiejętność czytania
                    jest poziomie gimnazjum.
                    Tekst stanie się bardziej przystępny dla każdego odbiorcy. Odpowiednio poprawiony, pomoże też grupie
                    odbiorców, która ma:
                </p>
                <ul>
                    <li>problemy z czytaniem, np. dyslektycy;</li>
                    <li>trudność ze skupieniem się przez dłuższą ilość czasu, np. osoby z ADHD, ADD.</li>
                </ul>
                <p class="list-glue">
                    Co możesz zrobić, aby język na stronie był prostszy:
                </p>
                <ul>
                    <li>Twórz krótkie zdania, do 20 wyrazów;</li>
                    <li>Używaj krótkich, znanych wyrażeń;</li>
                    <li>Przyjmij perspektywę odbiorcy;</li>
                    <li>Staraj się zwracać bezpośrednio do czytelnika;</li>
                    <li>Pisz o najważniejszych informacjach na początku;</li>
                    <li>Używaj nagłówków;</li>
                    <li>Dziel tekst na akapity ze śródtytułami;</li>
                    <li>Używaj list i tabel do organizowania informacji i danych.</li>
                </ul>
            </section>
            <section>
                <h3 id="3_1_6">Kryterium sukcesu 3.1.6 Wymowa – Poziom AAA</h3>
                <p>
                    Pozwól sprawdzić użytkownikowi, jaka jest wymowa dwuznacznych słów.
                </p>
                <p>
                    Znaczenie większości słów pisanych tak samo można wywnioskować z kontekstu. Jednak nie dla
                    wszystkich jest to proste zadanie.
                </p>
                <p class="list-glue">
                    Opis wymowy jest szczególnie ważny dla odbiorców, którzy:
                </p>
                <ul>
                    <li>mają problem z dekodowaniem słów,</li>
                    <li>radzą sobie źle z rozumieniem treści z kontekstu,</li>
                    <li>używają technologii, które czytają tekst, np. czytniki ekranu lub tekstu.</li>
                </ul>
                <p class="list-glue">
                    Aby spełnić kryterium, możesz na przykład:
                </p>
                <ul>
                    <li>zmienić dwuznaczne słowo na inne,</li>
                    <li>dołączyć wymowę dwuznacznego słowa, np. w nawiasie po słowie,</li>
                    <li>dodać słownik z wymową dwuznacznych słów,</li>
                    <li>dodać plik dźwiękowy z wymową słowa.</li>
                </ul>
                <div>
                    <p>
                        <u>Przykład – angielskie słowo <i>invalid</i>:</u><br/>
                        1. przymiotnik (nieprawidłowy) /ɪnˈvæl.ɪd/<br/>
                        <audio controls>
                            <source src="{{ asset('img/3_1_6a.mp3') }}" type="audio/mpeg"/>
                            Twoja przeglądarka nie wspiera elementów audio.
                        </audio>
                        <br/>
                    </p>
                    <p style="margin-top: 0;">
                        2. rzeczownik (inwalida) /ˈɪn.və.lɪd/<br/>
                        <audio controls>
                            <source src="{{ asset('img/3_1_6b.mp3') }}" type="audio/mpeg"/>
                            Twoja przeglądarka nie wspiera elementów audio.
                        </audio>
                    </p>
                </div>
            </section>
        </article>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}