{% extends 'base.html.twig' %}
{# skonfigurowane include, zeby nie zchodzic ponizej templates? #}
{# zrobic normalne style #}
{# poprawic sidebar, zeby byl accessible #}
{# cos nie dziala grafika a11y #}
{% block title %}
    3.3 Pomoc przy wprowadzaniu informacji
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}
    <main id="main" class="page reposition content-cut">
        <article>
            <h1>Wytyczna 3.3 Pomoc przy wprowadzaniu informacji</h1>
            <section>
                <p>
                    Pomagaj użytkownikom unikać błędów i je korygować.
                </p>
                <div id="table-of-content">
                    <h2>Spis treści</h2>
                    <ul>
                        <li><a href="#3_3_1">Kryterium sukcesu 3.3.1 Identyfikacja błędu – Poziom A</a></li>
                        <li><a href="#3_3_2">Kryterium sukcesu 3.3.2 Etykiety lub instrukcje – Poziom A</a></li>
                        <li><a href="#3_3_3">Kryterium sukcesu 3.3.3 Sugestie korekty błędów – Poziom AA</a></li>
                        <li><a href="#3_3_4">Kryterium sukcesu 3.3.4 Zapobieganie błędom (prawnym, finansowym, w danych) – Poziom AA</a></li>
                        <li><a href="#3_3_5">Kryterium sukcesu 3.3.5 Pomoc – Poziom AAA</a></li>
                        <li><a href="#3_3_6">Kryterium sukcesu 3.3.6 Zapobieganie błędom (wszystkim) – Poziom AAA</a></li>
                    </ul>
                </div>
            </section>
            <section>
                <h3 id="3_3_1">Kryterium sukcesu 3.3.1 Identyfikacja błędu – Poziom A</h3>
                <p class="list-glue">
                    Jeśli zostanie wykryty błąd we wprowadzanych danych (niewypełnione lub błędne dane):
                </p>
                    <ul>
                        <li>zostanie wskazany błędny element,</li>
                        <li>wyświetli się tekstowy opis błędu.</li>
                    </ul>
                <p>
                    Kiedy wskażesz błędy we wprowadzanych danych, użytkownik może się z nimi zapoznać i poprawić źle wypełnione pola.
                </p>
                <p class="list-glue">
                    Informuj użytkownika o błędach:
                </p>
                    <ul>
                        <li>w trakcie wprowadzania danych;</li>
                        <li>kiedy wysyła formularz. Użytkownik zostanie cofnięty do wcześniej wypełnionego formularza z oznaczonymi błędnymi danymi.</li>
                    </ul>
                <p class="list-glue" style="margin-top: 1.5em;">
                    <u>Jeśli nie wypełnisz jednego z pól, pojawi się komunikat o znalezionym błędzie:</u>
                </p>
                <p style="margin-bottom: 0;">
                    * Pole wymagane
                </p>
                    <form onsubmit="return false;">
                        <label for="name">*Imię</label><br/>
                        <input type="text" id="name" required><br/>
                        <label for="surname">*Nazwisko</label><br/>
                        <input type="text" id="surname" required><br/>
                        <input type="submit" value="Prześlij"/>
                    </form>
            </section>
            <section>
                <h3 id="3_3_2">Kryterium sukcesu 3.3.2 Etykiety lub instrukcje – Poziom A</h3>
                <p>
                    Do pól formularzy dołącz etykiety lub instrukcje.
                    Mają one być krótkie i przekazywać najważniejsze informacje.
                </p>
                <p class="list-glue">
                    Etykiety i instrukcje dla pól pozwolą:
                </p>
                    <ul>
                        <li>zrozumieć wymagane dane i cel formularza,</li>
                        <li>ograniczyć błędy,</li>
                        <li>zmniejszyć czas potrzebny na poprawne przesłanie formularza.</li>
                    </ul>
                <p class="list-glue">
                    Korzystaj z rozwiązań, które uwzględniają technologie asystujące. Wiele programów może informować użytkownika o:
                    {#                TODO: dodać, jak technologie asystujące to wyświetlają? #}
                </p>
                    <ul>
                        <li>typie przyjmowanej wartości przez pole,</li>
                        <li>przedziale wartości możliwych do wybrania w polu formularza (np. rok, kwota).</li>
                    </ul>
                <p style="margin-top: 1.5em; margin-bottom: 0;">
                    <u>Instrukcja</u>: Wszystkie pola oznaczone symbolem „*” są wymagane.
                </p>
                <form onsubmit="return false;">
                    <label for="name">*Pierwsze imię</label> <span style="font-family: 'Varta', sans-serif;"><- konkretne imię</span><br/>
                    <input type="text" id="name" required><br/>
                    <label for="surname">*Nazwisko</label><br/>
                    <input type="text" id="surname" required><br/>
                    <input type="submit" value="Prześlij"/>
                </form>
            </section>
            <section>
                <h3 id="3_3_3">Kryterium sukcesu 3.3.3 Sugestie korekty błędów – Poziom AA</h3>
                <p>
                    Jeśli na stronie zostanie automatycznie wykryty błąd we wprowadzanych danych, użytkownik powinien otrzymać sugestię poprawy błędu.
                </p>
                <p class="list-glue">
                    Wyjątkiem są sugestie, które mogłyby:
                </p>
                    <ul>
                        <li>zagrozić bezpieczeństwu treści;</li>
                        <li>zmienić cel treści.</li>
                    </ul>
                <div style="margin: 2.3em 0;">
                    <p>
                        <u>Pole zostało błędnie wypełnione:</u>
                    </p>
                    <p>
                        <label style="font-weight: bold;" for="postal">Kod pocztowy</label><br/>
                        <input type="number" id="postal"/>
                    </p>
                    <div style="background-color: #ef6531;">
                        <p>
                            Upewnij się, że kod zawiera 5 cyfr i ma format 99-999.
                        </p>
                    </div>
                    <input type="submit" value="Prześlij"/>
                </div>
                <p>
                    Użytkownik czasem nie wie, jakie dane wprowadzić do pola formularza.
                    Może dojść do sytuacji, kiedy poprawia dane do skutku lub ostatecznie rezygnuje z wypełniania.
                    Kiedy pokażesz sugestie poprawy błędów, użytkownik będzie mógł zrozumieć cel pola i poprawnie go wypełnić.
                </p>
            </section>
            <section>
                <h3 id="3_3_4">Kryterium sukcesu 3.3.4 Zapobieganie błędom (prawnym, finansowym, w danych) – Poziom AA</h3>
                <p class="list-glue">
                    Strony mogą powodować zobowiązania prawne lub na których użytkownik:
                </p>
                    <ul>
                        <li>przeprowadza transakcje finansowe,</li>
                        <li>udziela odpowiedzi na testy,</li>
                        <li>zmienia bądź usuwa dane, które są pod jego kontrolą.</li>
                    </ul>
                <p class="list-glue">
                    W takich sytuacjach zapewnij, aby użytkownik mógł:
                </p>
                    <ul>
                        <li>wycofać wprowadzane dane;</li>
                        <li>poprawić dane, które będą sprawdzane pod kątem błędów;</li>
                        <li>sprawdzić, poprawić i potwierdzić informacje przed wysłaniem.</li>
                    </ul>
                <p>
                    W ten sposób ograniczysz popełniane poważnych błędów podczas wypełniania danych.
                    Jest to ważne, ponieważ kiedy zatwierdzasz dane, wielu nie można już wycofać.
                </p>
                <p>
                    Za przykład weźmy transakcję w banku. Dzięki zabezpieczeniom użytkownik może poprawić informacje podczas wykonywania transakcji lub z niej zrezygnować.
                </p>
            </section>
            <section>
                <h3 id="3_3_5">Kryterium sukcesu 3.3.5 Pomoc – Poziom AAA</h3>
                <p>
                    Zapewnij użytkownikowi pomoc kontekstową, która pomaga w wypełnianiu kolejnych pól formularzy.
                    Musisz zadbać, aby była łatwo dostępna.
                </p>
                <p>
                    Pomoc kontekstowa zawiera tekst, który dostarcza informacji o aktualnie wykonywanej czynności.
                </p>
                <p>
                    <strong>WAŻNE</strong><br/>
                    Informacja kontekstowa jest potrzebna w sytuacji, kiedy etykieta pola nie opisuje wystarczająco jego celu.
                </p>
                    <div>
                        <form>
                            <label for="postal">Kod pocztowy</label><br/>
                            <input type="number" id="postal" placeholder="99-999" /><br/>
                            <label for="client-num">Numer klienta (16 cyfr)</label><br/>
                            <input id="client-num" type="number" />
                            <span style="color: blue; font-weight: bold; position: relative; cursor: pointer;">Gdzie go znajdę?</span>
                        </form>
                    </div>
            </section>
            <section>
                <h3 id="3_3_6">Kryterium sukcesu 3.3.6 Zapobieganie błędom (wszystkim) – Poziom AAA</h3>
                <p>
                    Kryterium jest rozszerzeniem <a href="#3_3_4">Kryterium sukcesu 3.3.4 Zapobieganie błędom (prawnym, finansowym, w danych)</a>, które
                    uwzględnia konkretne przypadki zapobiegania błędom.
                </p>
                <p>
                    To kryterium ma zapewnić, że podczas wypełniania <b>każdego</b> formularza można sprawdzić, modyfikować i wycofać dane.
                </p>
            </section>
        </article>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}