{% extends 'base.html.twig' %}

{% block title %}
    O serwisie
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <main id="main h1-reformat" class="page reposition-oth" style="max-width: 750px; row-gap: 0;">
        <h1 class="h1-reformat">O serwisie</h1>
        <section class="font-styling">
            <p>Autorem niniejszego serwisu jest Weronika Ruszel.</p>
            <p>
                Serwis ten stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne Przetwarzanie Informacji),
                przygotowanej pod kierunkiem prof. dr. hab. Jerzego Koniora
                na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.
            </p>
        </section>
        <section>
            <h2>Bibliografia</h2>
            <ol>
                <li>
                    <a href="https://isap.sejm.gov.pl/isap.nsf/download.xsp/WDU20190000848/T/D20190848L.pdf">
                        <u>Ustawa z dnia 4 kwietnia 2019 r. o dostępności cyfrowej stron internetowych i aplikacji mobilnych podmiotów publicznych, Dz.U., poz. 848 (pdf).</u>
                    </a>
                </li>
                <li>
                    Firth A., <i>Practical Web Inclusion and Accessibility: A Comprehensive Guide to
                        Access Needs</i>, London, Apress, 2019.
                </li>
                <li>
                    Gay G., Karasyov I., <i>Web Accessibility for Developers. Essential Skills for Web Developers</i>,
                    Toronto, The Chang School, Ryerson University, 2019.
                </li>
                <li>
                    Gilbert R., <i>Inclusive Design for a Digital World: Designing with Accessibility in
                    Mind</i>, New York, Apress, 2019.
                </li>
                <li>
                    Krug S., <i>Nie każ mi myśleć! O życiowym podejściu do funkcjonalności stron internetowych</i>,
                    wyd. 3, tłum. P. Cieślak, Gliwice, Wydawnictwo Helion, 2014.
                </li>
                <li>
                    Kowalski P., Mikołajczyk A., Zimny B., <i>Jak wdrażać Ustawę o zapewnianiu dostępności?</i>, red. Twardowska E.,
                    Łódź, Spółdzielnia Socjalna „FADO” na zlecenie Ministerstwa Funduszy i Polityki Regionalnej, 2019.
                </li>
                <li>
                    <i>Web Accessibility: Web Standards and Regulatory Compliance</i>, red. Ch. Mills,
                    Apress, [brak miejsca wydania] 2006.
                </li>
                <li>
                    Strona została stworzona w oparciu o dokument Web Accessibility Initiative <a href="https://www.w3.org/WAI/"><u>(WAI)</u></a>: <a href="https://www.w3.org/WAI/WCAG21/Understanding/"><u>Web Content Accessibility Guidelines 2.1</u></a>.
                    Copyright © 2017-2022 <a href="https://www.w3.org/"><u>W3C®</u></a> (MIT, ERCIM, Keio, Beihang).
                    Status: Dokument odświeżony 11 sierpnia 2022. {#<a href="https://www.w3.org/WAI/WCAG21/Understanding/"><u>https://www.w3.org/WAI/WCAG21/Understanding/</u></a>#}
                </li>
            </ol>
        </section>
        <section>
            <h2>Zdjęcia i grafiki</h2>
            <ol>
                <li>
                    Zdjęcie pt. „<a href="https://pressbooks.ulib.csuohio.edu/accessibility/"><u>refreshable_braille_keyboard”</u></a>
                    autorstwa Heather Caprette, MFA opublikowane na licencji <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><u>CC BY-NC-SA 4.0</u></a>.
                </li>
                <li>
                    Zdjęcie pt. „<a href="https://www.ted.com/talks/nilofer_merchant_got_a_meeting_take_a_walk"><u>NiloferMerchant_2013-embed”</u></a>
                    autorstwa Ryan Lash / TED opublikowane na licencji <a href="https://creativecommons.org/licenses/by-nc/3.0/"><u>CC BY-NC 3.0</u></a>. Dodano ikonę i napis.
                </li>
                <li>
                    Zdjęcie pt. „<a href="https://www.accessiblebooksconsortium.org/portal/en/index.html"><u>wipo_home-sources_500”</u></a>
                    autorstwa Sergio Parrella opublikowane na licencji <a href="https://creativecommons.org/licenses/by/4.0/"><u>CC BY 4.0</u></a>.
                </li>
                <li>
                    Dane mapy ©2022 Google.
                </li>
            </ol>
        </section>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
